<% if resource.errors.any? %>
   <div class="notification is-danger">
     <h2><%= pluralize(resource.errors.count, "error") %> Prohibited this object form being saved: not successfully </h2>
     <ul>
       <% resource.errors.full_messages.each do |message| %>
         <li><%= message %></li>
       <% end %>
    </ul>
  </div>
<% end %>
